body {
    font-family: 'Raleway';
    src: url('Raleway/Raleway-VariableFont_wght.ttf');
    margin: 10px 50px;
}


/* NAV */

strong {
    font-weight: bold;
    color: #0065fc;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.navbar {
    display: flex;
    justify-content: space-around;
}

nav li {
    display: inline;
}

nav a:hover {
    color: #DEEBFF;
    border-top: 2px #0065FC solid;
    padding: top 10px;
}

nav a {
    text-decoration: none;
    justify-content: space-between;
    color: black;
    padding-top: 23px;
    padding: 20px;
}


/* HEBERGEMENTS & POPULAIRE*/

.flexaround {
    display: flex;
    justify-content: space-around;
}

.taillehebergement {
    flex: 2;
    height: 650px;
    margin-right: 20px;
    border-radius: 20px;
    background-color: #F2F2F2;
}

.taillepopulaire {
    flex: 1;
    height: 650px;
    margin-left: 20px;
    border-radius: 20px;
    background-color: #F2F2F2;
}


/* ACTIVITE A MARSEILLE */


/* FOOTER */