body {
    font-family: 'Raleway';
    src: url('Raleway/Raleway-VariableFont_wght.ttf');
    margin: 0px;
}

.blocka {
    margin: 27px 50px
}


/* NAV */

a {
    text-decoration: none;
    color: black;
}

strong {
    font-weight: bold;
    color: #0065fc;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav li {
    display: inline;
}

nav a:hover {
    color: #0065FC;
    border-top: 5px #0065FC solid;
}

nav a {
    text-decoration: none;
    justify-content: space-between;
    color: black;
    padding: 40px;
}

.soustitre {
    margin-top: 0px;
}


/*RECHERCHE*/

.fas fa-map-marker-alt {
    border-radius: 0 1rem 1rem 0;
}

.searchicon {
    border-radius: 1rem 0 0 1rem;
    background-color: #F2F2F2;
    padding: 1rem 1.25rem;
}

input {
    border: none;
    padding: 0 0.5rem;
    font-weight: bold;
    font-size: 1rem;
    color: black
}

button {
    border-radius: 0 1rem 1rem 0;
    color: white;
    background-color: #0065FC;
    font-size: 1rem;
    border: none;
    padding: 0rem 1.25rem;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    font-family: Raleway;
}

form {
    display: inline-flex;
}

.titre {
    margin-top: 40px;
}

h1,
h3 {
    font-size: 1.5rem;
}

h1 {
    margin-bottom: 0px;
}

h2 {
    font-size: 1rem;
    font-weight: normal;
    margin-top: 8px;
    margin-bottom: 26px;
}


/*FIlTRE*/

h3 {
    margin: 0 2rem 1rem 0;
    align-items: center;
    display: flex
}

.block_filtres {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
}

form p {
    margin-right: 2rem;
    font-weight: bold;
}

.filtres_slide:hover {
    background-color: #6ca7ff21;
}

.filtres_slide {
    display: flex;
    border-radius: 2rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
    border: 2px solid #d9d9d9;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DEEBFF;
    border-radius: 100%;
    height: 3.5rem;
    width: 3.5rem;
    min-height: 3.5rem;
    min-width: 3.5rem;
    margin: -2px;
    color: #0065fc;
}

.text_filtre {
    padding: 1rem;
}

.info {
    display: flex;
    align-items: center;
    font-size: 1rem;
    margin: 1rem 0 2rem 0;
}

.cercle {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    height: 2rem;
    width: 2rem;
    border: 1px solid #d9d9d9;
    color: #0065fc;
    margin-right: 1rem;
}


/*----Hebergement----*/

.big-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch
}

.box_hebergement {
    display: flex;
    flex-basis: 75%;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 20px;
    padding: 1rem;
    margin-right: 2rem;
    background: #F2F2F2;
    width: 63%;
}

.box_title {
    width: 100%;
    font-size: 1.4rem;
    margin: 0;
    padding: 1rem 0 0 1.5rem;
}

.box_car {
    margin: 1rem;
}

.hebergement_box_link {
    padding: .3rem .3rem 0rem .3rem;
    margin: 1rem;
    text-decoration: none;
    outline: none;
    flex: 27%;
    border-radius: 20px;
    background-color: white;
    box-shadow: .1rem .1rem .4rem rgba(0, 0, 0, 0.282);
}

.hebergement_box_picture {
    height: 8rem;
    max-width: 100%;
}

.hebergement_box_picture img {
    height: 8rem;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergement_box_container {
    padding-top: 7px;
    padding-left: 13px;
    padding-bottom: 0px;
}

.hebergement_box_container h5 {
    font-size: 17px;
    margin-top: 0;
    margin-bottom: 4px;
}

.hebergement_box_container p {
    margin-bottom: 4px;
    margin-top: 0;
    font-size: 14px;
}

.hebergement_star {
    font-size: 1rem;
    color: #0065fc;
}

.hebergement-plus {
    width: 100%;
    font-weight: 700;
    border: none;
    background-color: transparent;
    text-align: left;
    padding: 1rem 0 1rem 1rem;
    cursor: pointer;
}


/*---POPULAIR ---*/

.popular {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #F2F2F2;
    padding: 1rem;
    border-radius: 20px;
    width: 33%;
    flex-direction: column;
}

.popular_box {
    display: flex;
    flex-direction: row;
    margin: 1rem;
    border-radius: 20px;
    padding: .3rem;
    background-color: white;
    box-shadow: .1rem .1rem .4rem rgba(0, 0, 0, 0.261);
}

.popular_header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 1rem 0 0 1.5rem;
}

.fas.fa-chart-line {
    margin-right: 1rem;
}

.popular_title {
    font-size: 1.4rem;
    margin: 0;
}

.popular_box_picture_1 {
    background-image: url(images/hebergements/4_small/hoteldusoleil.jpg);
    background-size: cover;
    ;
    background-position: center;
    min-width: 130px;
    min-height: 140px;
    border-radius: 20px 0 0 20px;
}

.popular_box_picture_2 {
    background-image: url(images/hebergements/4_small/aucoeurdeleau.jpg);
    background-size: cover;
    ;
    background-position: center;
    min-width: 130px;
    min-height: 140px;
    border-radius: 20px 0 0 20px;
}

.popular_box_picture_3 {
    background-image: url(images/hebergements/4_small/hoteltoutbleu.jpg);
    background-size: cover;
    background-position: center;
    min-width: 130px;
    min-height: 140px;
    border-radius: 20px 0 0 20px;
}

.popular_box_container {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.popular_box_container h5 {
    font-size: 17px;
    margin: 0px;
    margin-bottom: 4px;
}

.popular_box_container p {
    margin: 0;
    font-size: 14px;
}

.popular_star {
    font-size: 1rem;
    color: #0065fc;
}

.fas.fa-star.gray {
    color: #dcdcdc;
}


/* ACTIVITE A MARSEILLE */

#Activités {
    font-size: 1.4rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.block_activites {
    display: flex;
}

.activites_name {
    font-weight: bold;
    font-size: 1rem;
    align-items: center;
    display: flex;
    padding-left: 5%;
    width: 95%;
}

.block_activites img {
    height: 100%;
    max-height: 100px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.group_colone {
    width: 50%;
    display: flex;
    align-items: stretch;
}

.activites_item {
    width: 100%;
    height: 100%;
    padding-bottom: 1rem;
}

.colone_1 .activites_item img {
    max-height: initial;
    height: 95%;
}

.colone_1 {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex: 1;
    width: 100px;
}

.colone_2 {
    display: flex;
    flex-direction: column;
    flex: 0 1 100%;
    align-items: center;
}

.colone_1,
.colone_2 {
    max-width: 45%;
    min-width: 45%;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    ;
}

.activites_item {
    width: 100%;
    border-radius: 20px;
    margin: 0 0 30px 0;
    box-shadow: 0 5px 40px -20px rgba(5, 5, 5, 0.713);
    cursor: pointer;
}


/* FOOTER */

footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0px 50px;
    background-color: #F2F2F2;
}

.footer_list {
    margin-right: 20%;
    padding-bottom: 3rem;
}

.footer_list h6 {
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

.footer_list a {
    display: block;
    text-decoration: none;
    font-size: 1rem;
    margin-bottom: .5rem;
}