body {
    font-family: 'Raleway';
    src: url('Raleway/Raleway-VariableFont_wght.ttf');
}


/* NAV */

.Nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 90px;
}

nav ul,
nav a {
    display: flex;
    list-style: none;
    text-decoration: none;
    padding: 20px;
    color: black;
}


/* HEBERGEMENTS & POPULAIRE*/

.flexaround {
    display: flex;
    justify-content: space-around;
}

.taillehebergement {
    flex: 2;
    height: 650px;
    margin-right: 20px;
    border-radius: 20px;
    background-color: beige;
}

.taillepopulaire {
    flex: 1;
    height: 650px;
    margin-left: 20px;
    border-radius: 20px;
    background-color: beige;
}


/* ACTIVITE A MARSEILLE */


/* FOOTER */